*.z01
*.z02
*.z03
*.zip
*.z04
*.z05
*.z06
*.z07
*.z08
Pigs_identity.data-00000-of-00001
Pigs_identity.index
Pigs_identity.meta
Pigs_identity_2.data-00000-of-00001
Pigs_identity_2.index
Pigs_identity_2.meta
Pigs_identity_Tran_2.data-00000-of-00001
Pigs_identity_Tran_2.index
Pigs_identity_Tran_2.meta
Pigs_identity_noTran.data-00000-of-00001
Pigs_identity_noTran.index
Pigs_identity_noTran.meta
cifar-10-batches-py/
data/
Pig_Identification_Qualification_Train/
plotting_figure/
__pycache__/
.ipynb_checkpoints/
*.p
scripts/Pigs_identity_Tran_small3.data-00000-of-00001
scripts/Pigs_identity_Tran_small3.index
scripts/Pigs_identity_Tran_small3.meta
scripts/Pigs_identity_noTran_small.data-00000-of-00001
scripts/Pigs_identity_noTran_small.index
scripts/Pigs_identity_noTran_small.meta
scripts/Pigs_identity_noTran_small2.data-00000-of-00001
scripts/Pigs_identity_noTran_small2.index
scripts/Pigs_identity_noTran_small2.meta
scripts/notran_small2/events.out.tfevents.1512679951.9SHSZQ251JLY1NJ
scripts/notran_small2/
scripts/tran_small3/
tran1_mid/
tran1_mid_2/
cifar-10-python.tar.gz
mnist_sequence1_sample_5distortions5x5.npz
